@import url('https://fonts.googleapis.com/css2?family=Ruwudu&display=swap');

/*Nav*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(138, 111, 79);
    
    .css-k008qs {
        display: flex;
        width: 80%;
        align-items: center;

        .css-kjvu41  {
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            font-weight: bold;
        }
        
        .categorias {
            margin-left: 100px;
            :hover{
                background-color: white;
            }
        }

        .categoria:hover{
            background-color: #dac8c8;
        }
    }

    a {
        width: 100%;
    }
}

.cart {
    display: flex;
    align-items: center;
    width: 100%;

    .cantCart {
        font-weight: bold;
        font-size: xx-large;
    }
}

.imgChocoCross {
    width: 333px;
    height: 121px;
}

.imgCarrito {
    width: 50px;
    height: 50px;
}

.imgCarrito:hover {
    background-color: white;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        padding: 25px;
        font-family: 'Ruwudu', serif;
        font-size: xx-large;

    }
}

.css-18heqsi {
    width: 100%;
    justify-content: space-evenly
}

.itemContador {
    display: flex;
    align-items: center;
    background-color: beige;

    .buttonCont{
        width: 35px;
        height: 35px;
        border: 1px solid rgb(179, 185, 176);
        border-radius: 5px;
        color: rgb(179, 185, 176);
    }
    .buttonCont:hover{
        background-color: antiquewhite;
    }

    .numCont {
        font-size: x-large;
        color: #645c5c;
        margin-left: 10px;
        margin-right: 10px;
    }
}


